<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}
    <!-- header -->
    <div class="container-fluid main_heder">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right" >
                        <figure>
                         <img src="images/n.jpg" alt="arghya" class="img-fluid abtimg" title="arghya">
                        </figure>
                     </div>
                    <div class="col-md-6 col-12 main_header_left " >
                        <p>Wanna Know about me ?</p>
                        <h1>I am a <span class="clr"> MERN stack developer </span>building next generation websites</h1>
                        <a href="https://arghya-pahar.github.io/portfolionew/"><button>About me</button></a>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>
</html> 