<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}
    <!-- header -->
    <div class="container-fluid main_heder">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center" >
                        <figure class="err">
                         <img src="images/err.jpg" alt="arghya" class="img-fluid" title="arghya" style="height: 250px;">
                        </figure>
                        <p>Dont worry handling error isn't a big deal</p>
                        <h1><span class="clr"> {{errormsg}} </span></h1>
                        <a href="/"><button>Back to Home</button></a>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>
</html> 